/* resets the margin and padding and sets the default fonts */
* {
  margin: 0;
  padding: 0;
  font-family: lexend, sans-serif;
}

h1 {
  font-weight: bold;
  padding: 10px
}

/* allows navbar to stay showing on the screen at all times */
header {
  position: sticky;
  top: 0;
}

/* converts lists of links to a navigation bar */
#navbar {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #817b7b;
  justify-content: space-between;
}

#navbar .menu{
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#navbar ul li {
  padding: 0px 10px;
  margin: 10px 0px;
}

#navbar a {
  display: block;
  text-decoration: none;
  color:black;
}

#navbar a:hover {
  color: rgba(0, 0, 0, 0.601)
}

#home {
  text-align: center;
  margin: 40px 10px 10px;
  scroll-margin-top: 120px;
}

#home h1{
  display: none;
}

#home h2 {
  font-size: 40px;
}


#home p {
  padding: 10px
}

#home p strong {
  font-size: 40px;
}

#portrait {
  width: 20em;
  height: 20em;
}

.center {
  margin: auto;
}

#skills {
  display: flex;
}

#skills img{
  width: 5em;
  height: 5em;
}

.row {
  margin-bottom: 5em;
  scroll-margin-top: 120px;
}

footer .row {
  background-color: #817b7b76;
  margin-bottom: 0;
  padding: 40px;
  justify-content: center;
}

footer img {
  width: 3em;
  height: 3em;
}

/* turns resume link into a clickable button */
a.button {
    padding: 8px 8px;
    border: 1px outset buttonborder;
    border-radius: 4px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}