* {
  margin: 0;
  padding: 0;
  font-family: lexend, sans-serif;
}

h1 {
  font-weight: bold;
  padding: 10px
}

#navbar {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #817b7b76;
  justify-content: space-between;
}

#navbar .menu{
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#navbar ul li {
  padding: 0px 10px;
  margin: 10px 0px;
}

#navbar a {
  display: block;
  text-decoration: none;
  color:black;
}

#navbar a:hover {
  color: rgba(0, 0, 0, 0.601)
}

#home {
  text-align: center;
  margin: 40px 10px 10px;
}

#home h1{
  display: none;
}

#home p {
  padding: 10px
}

#home p strong {
  font-size: 40px;
}

#portrait {
  width: 20em;
  height: 20em;
}

.center {
  margin: auto;
}

#skills {
  display: flex;
}

#skills img{
  width: 5em;
  height: 5em;
}

.row {
  margin-bottom: 20px;
}